APP_CODE=hcs-server
APP_NAME=Howick Cloud Services Backend
ENV=dev
APP_DOMAIN_NAME=
APP_PORT=
SSL_Enabled_domain=


API_ROOT=/api/1.0.0

MONGODB_HOST=127.0.0.1
MONGODB_PORT=27017
MONGODB_NAME=
MONGODB_PASSWD=


LOG_TO_CONSOLE=true