ENV=dev
PORT=5000
API_VERSION=1.0.0
MONGODB_HOST=127.0.0.1
MONGODB_NAME=howickDB

APP_CODE=hcs-server
LOGIN_DOMAIN=localhost

# The url to the host of login service
LOGIN_SERVICE=localhost:9019

# The url to redirect to after authentication
LOGIN_REDIRECT=localhost:9019

# Location of the access API (may be different from LOGIN_SERVICE if a proxy is used)
LOGIN_API_SERVICE=localhost:9019
LOGIN_API_KEY="#pgSaymWgTuzcqO2WhnEdWmfN2NGk8P3Xqao5ZqtEiaJln3ikIfgtlkvheOxieytJRFxSLdHlKNMj5MCBbOzEYYxAuITHgKcT3poNj/HG/BhSv2JXaFJw2gW6Uyi42Fws+gF+VT37e01K9r1PX6dUCoxyftXk+qdjQH5WqWi0oD3O40vtVDAWt8RdkCrPNZiexSbD/E/t1+BigjxDCe//3msT1U4tNbgCYNhLLIK9xzZVddeQptBbhChejebSnMHRbglrPgD/H+nRXl/90P+ztDT5gWw62pypkS26cZLF9OBeAphA=="
##LOGIN_API_SECURE=true

MAILGUN_API_KEY=key-1ca-rclsy8srjk-pp6-20750ae9zxw79
MAILGUN_DOMAIN=sandbox14fce2e7101d4e07ac606e055b02eb45.mailgun.org

PDF_CONVERTER="xvfb-run wkhtmltopdf"
PDF_SERVICE_URL=
PDF_SERVICE_USERNAME=pdf
PDF_SERVICE_PASSWORD=develop1
LOG_TO_CONSOLE=true