APP_CODE=hcs-server
APP_NAME=Howick Cloud Services Backend
ENV=dev
HOST_NAME=localhost
PORT=3001
SSL_Enabled_domain=


API_ROOT=/api/1.0.0

MONGODB_HOST=127.0.0.1
MONGODB_PORT=27017
MONGODB_NAME=howickDB
MONGODB_PASSWD=
CLIENT_APP_URL=http://localhost:3000/

TOKEN_EXP_TIME = '48h'

MAX_FILESIZE = 
UPLOAD_PATH = 

LOG_TO_CONSOLE=true
JWT_SECRETKEY=supersecret_dont_share
MORGAN_FORMAT=combined

AWS_REGION=
AWS_S3_BUCKET=
BASE_S3_LINK=
AWS_SES_FROM_EMAIL=
