<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      defer
      src="https://use.fontawesome.com/releases/v5.15.4/js/all.js"
      integrity="sha384-rOA1PnstxnOBLzCLMcre8ybwbTmemjzdNlILg8O7z1lUkLXozs4DHonlDtnE7fpc"
      crossorigin="anonymous"
    ></script>
    <title>Forget-password</title>
    <link rel="stylesheet" href="../assets/css/index.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <div class="container">
      <header>
        <div class="">
          <div class="header_img">
            <img
              src="../assets/images/header.png"
              alt="Howick ltd."
              class="header_img"
            />
          </div>
        </div>
      </header>
      <div class="body_">
        <h4>Hi name,</h4>
        <div class="p_1">
          <p>
            You are receiving this email because we received a password reset
            request for your account.
          </p>
        </div>
        <div class="btn_container">
          <a
            target="_blank"
            href="https://dev.frama.howickltd.com/auth/reset-password"
          >
            <button class="btn">RESET YOUR PASSWORD</button>
          </a>
        </div>
        <div class="p-2">
          <p>
            If you did not request a password reset, no further action is
            required.
          </p>
        </div>
        <div class="ending_">
          <p>Regards,</p>
          <p>Howick ltd.</p>
        </div>
      </div>
      <footer>
        <div class="">
          <div class="footer_">
            <h4>Get in touch</h4>
          </div>
          <div class="footer_p">
            <a target="_blank" href="https://www.howickltd.com/"
              >www.howickltd.com/get-in-touch
            </a>
          </div>
          <div class="icons_">
            <a target="_blank" href="https://www.facebook.com/Howickltd/">
              <span class="icons_c">
                <i class="fa-brands fa-facebook"></i>
              </span>
            </a>
            <a target="_blank" href="https://www.youtube.com/@HowickLimited">
              <span class="icons_c">
                <i class="fa-brands fa-youtube"></i>
              </span>
            </a>
            <a
              target="_blank"
              href="https://www.linkedin.com/company/howick-ltd/"
            >
              <span class="icons_c">
                <i class="fa-brands fa-linkedin"></i>
              </span>
            </a>
            <a target="_blank" href="https://twitter.com/HowickLTD">
              <span class="icons_c">
                <i class="fa-brands fa-twitter"></i>
              </span>
            </a>
            <a target="_blank" href="https://www.instagram.com/howickltd/">
              <span class="icons_c">
                <i class="fa-brands fa-instagram"></i>
              </span>
            </a>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
